/* ︵‿୨♡୧‿︵ Color Palettes ︵‿୨♡୧‿︵ */
:root {
    /* https://coolors.co/010101-1f140d-3c2719-554337-8e603e-ce7f3c-ffd9b8 */
    /*
    Other colors :
        #1f1f1f
        #b8b8b8
        #50776c
        #97656c
        #b95f41
        #ad8353
        #f5d989
    */
    --black: #010101;
    --smoky-black: #1F140D;
    --bistre: #3C2719;
    --dark-lava: #554337;
    --coyote-brown: #8E603E;
    --bronze: #CE7F3C;
    --peach-puff: #FFD9B8;
}

.theme-dark {
    --bg-color: var(--smoky-black);
    --primary-color: #;
    --text-color: var(--peach-puff);
    --noise-opacity: .5;
}

.theme-light {
    --bg-color: var(--dark-lava);
    --primary-color: #;
    --text-color: var(--black);
    --noise-opacity: .1;
}


/*
@font-face {
  src: url("../fonts/pixel.ttf");
  font-family: pixel
}
*/


body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: var(--bg-color);
    transition: background-color 1s ease;
}

.image {
    z-index: 0;
    width: 600px;
    height: 600px;
    position: absolute;
    transform: rotate(0deg);
    /* Thanks to cubic-bezier.com */
    transition: transform 5s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.noise {
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
    pointer-events: none;
    transition: opacity 1s ease;
    opacity: var(--noise-opacity);
}

.one {
    top: -17vh;
    left: 30vw;
}

.two {
    top: 60vh;
    left: -12vw;
}

.three {
    top: 40vh;
    left: 82vw;
}


#theme-toggle {
    top: 20px;
    z-index: 1;
    right: 20px;
    font-size: 14px;
    position: fixed;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 50px;
    letter-spacing: 2px;
    background: transparent;
    color: var(--text-color);
    text-transform: uppercase;
    transition: all 0.3s ease;
    transform: translateX(-50%);
    border: 2px solid var(--text-color);
    animation: enter-animation .8s ease-in;
}

#theme-toggle:hover {
    color: var(--bg-color);
    background: var(--text-color);
}



nav {
    top: 0;
    left: 50%;
    z-index: 5;
    display: flex;
    padding: 30px 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    transform: translate(-50%);
    background-color: transparent;
    animation: enter-animation .8s ease-in;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    position: relative;
    letter-spacing: 2px;
    text-decoration: none;
    transition: color 1s ease;
}

nav a::before {
    left: 0;
    width: 0;
    bottom: 0;
    content: '';
    height: 2px;
    position: absolute;
    background-color: var(--text-color);
    transition: width 0.3s ease, color 1s ease;
}

nav a:hover::before {
    width: 100%;
}

nav li:first-child a {
    font-weight: 600;
    font-family: Montserrat;
}

nav li:nth-child(2) a {
    font-size: 24px;
    font-weight: 900;
    font-family: Great Vibes;
}

nav li:last-child a {
    font-size: 24px;
    font-family: Playfair Display;
}

img.avatar {
    top: 25vh;
    left: 50vw;
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 50%;
    perspective: 500px;
    transition: filter 1s;
    transform: translateX(-50%);
    transform-style: preserve-3d;
    animation: enter-animation .8s ease-in;
}

@keyframes enter-animation {
    0% {
        opacity: 0;
        transform: translate(-50%, 10px);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%);
    }
}

.greeting {
    top: 60vh;
    left: 50%;
    font-size: 36px;
    font-weight: 600;
    position: absolute;
    text-align: center;
    color: var(--text-color);
    transition: color 1s ease;
    transform: translateX(-50%);
    animation: enter-animation .8s ease-in;
}

.greeting h1 {
    margin-bottom: 10px;
}

.greeting h2 {
    font-weight: 400;
    font-family: Great Vibes;
}

.greeting i {
    left: 50%;
    bottom: -20px;
    position: absolute;
}


.card-container {
    top: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    padding-bottom: 80px;
}

.card {
    width: 300px;
    height: 300px;
    margin: 10px;
    position: relative;
    padding: 75px 100px 0;
}

.card h1 {
    top: 50%;
    left: 50%;
    color: white;
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    transform: translate(-50%);
    font-family: Libre Baskerville;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.card img:hover {
    transform: scale(1.05);
}

main p {
    top: 80px;
    left: 50%;
    width: 50%;
    padding: 15px;
    position: relative;
    text-align: justify;
    color: var(--text-color);
    transition: color 1s ease;
    transform: translateX(-50%);
    animation: enter-animation .8s ease-in;
}
