.theme-dark {
  --primary-color: #eeeeee;
  --secondary-color: #969696;
  --font-color: #424242;
  --bg-color: #242424;
  --nav-color: #1a1a1a;
}

.theme-ultra-dark {
  --primary-color: #bdbdbd;
  --secondary-color: #6b6b6b;
  --font-color: #252525;
  --bg-color: #0c0c0c;
  --nav-color: #000000;
}

/*Page*/

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  font-family: Tahoma, Verdana, sans-serif;
}

/*Contenue*/

.avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.box {
  margin: 0 29%;
  margin-top: 5%;
  padding: 1%;
  /*background-color: rgb(26, 26, 27);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: -15px -15px 15px rgba(255,255,255,0.03),
              15px 15px 15px rgba(0, 0, 0, 0.5)*/
}

p {
  font-size: 16px;
}

.container {
  display: table;
  float: left;
  padding: 60px;
  text-align: center;
  background: #efefef;
  transition: background .5s;
}
.container img {
  display: table-cell;
  vertical-align: middle;
}

/*Navigation*/

#navbar {
  padding:20px 0;
  background:var(--nav-color);
  color: var(--primary-color);
  width:100%;
  display:flex;
  justify-content:center
}

#navbar .item{
  font-weight:700;
  padding:10px 0;
  margin:0 30px
}

#navbar .item i{
  margin-right:10px
}

#navbar .item.active{
  color: var(--secondary-color);
  border-bottom:solid 2px var(--secondary-color);
}

.link {
  color: var(--primary-color);
  text-decoration:none;
  border-bottom:dotted 1px var(--primary-color);
  padding-bottom:4px;
  font-size:20px;
  font-weight:700
}

.social-titles {
  position: -webkit-sticky;
  position:sticky;
}

/*Switcher*/

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: var(--font-color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: var(--nav-color);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}