/* ︵‿୨♡୧‿︵ Color Palettes ︵‿୨♡୧‿︵ */

.theme-dark {
  --bg-color: #141416;
  --active-color: #353538;
  --primary-color: #e9e9e9;
  --secondary-color: #858585;
  --third-color: #bdbdcc23;}
 
.theme-light {
  --bg-color: #f0efef;
  --active-color: #424242;
  --primary-color: #000000;
  --secondary-color: #3a3a3a;
  --third-color: #fefefe;}



/* ︵‿୨♡୧‿︵ Text ︵‿୨♡୧‿︵ */
 
* {
  font-family: sans-serif;
  text-align: justify}

@font-face { /* For the clock */
  src: url("../fonts/pixel.ttf");
  font-family: pixel}



/* ︵‿୨♡୧‿︵ Global ︵‿୨♡୧‿︵ */

body {
  margin: 0;                         /* Fix margin */
  color: var(--primary-color);       /* Text Color */
  background-color: var(--bg-color); /* Background Color */
  transition: background-color .5s linear}

.page{
  margin: 150px auto;
  padding: 80px;
  display: flex;}

img.avatar {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  transform: translate(100px, 95px)}

img.image {
  height: 250px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}


/* ︵‿୨♡୧‿︵ Navigation ︵‿୨♡୧‿︵ */
 
#navbar {
  top: 0;
  width: 100%;
  z-index: 100;
  height: 140px;
  display: flex;
  padding: 5px 0;
  position: fixed;
  background-size: 100%;
  background: url("../images/ghibli-sky.png")}
 
.pseudo {
  transform: translate(205px, 120px);
  font-size: 30px;
  transition: color .2s linear;
  font-weight: 700;
  color: var(--primary-color)}



/* ︵‿୨♡୧‿︵ Switcher ︵‿୨♡୧‿︵ */
 
.theme-switch {
  top: 20px;
  width: 40px;
  right: 20px;
  height: 40px;
  position: absolute;}

/* .theme-switch input {display: none} */
 
.slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: var(--primary-color)}



/* ︵‿୨♡୧‿︵ Custom Scrollbar ︵‿୨♡୧‿︵ */

::-webkit-scrollbar {width: 10px} /* Size */

::-webkit-scrollbar-track {background: #00000000} /* Background */

::-webkit-scrollbar-thumb {background: var(--active-color)} /* Thumb */

::-webkit-scrollbar-thumb:hover {background: #969696} /* Thumb Hover */



/* ︵‿୨♡୧‿︵ Clock ︵‿୨♡୧‿︵ */

.clock div {
  width: 350px;
  font-family: pixel; /* Custom Font */
  text-align: center;
  position: absolute}

.now img {
  height: 250px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px}

.date,.day {
  font-size: 50px; color: white}

.date {transform: translate(185px,-220px)}

.hour{
  font-size: 148px; color: #2c1609;
  transform: translate(185px,-205px)}

.day {transform: translate(185px,-86px)}



/* ︵‿୨♡୧‿︵ Pinterest Carousel ︵‿୨♡୧‿︵ */

.menu {z-index: 2;height: 0}

.menu label {
  width: 16px;
  height: 16px;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 50px;
  display: inline-block;
  transform: translate(75px,255px);
  background: var(--secondary-color)}

[id*="slide-point"]{display: none}

.menu label:hover {background: var(--primary-color)}

.slide {
  opacity: 0;
  width: 250px;
  height: 250px;
  margin: 0 20px;
  visibility: hidden;
  position: absolute;
  border-radius: 10px;
  background-size: cover;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px}

[id*="slide"]:checked + .slide {
  position:relative;
  visibility:visible;
  opacity: 1;
  transition: opacity 0.5s linear}

/* ︵‿୨♡୧‿︵ Otters photos ︵‿୨♡୧‿︵ */
.slide-otter-1 {background-image: url("../images/otter/1.jpg")}
.slide-otter-2 {background-image: url("../images/otter/2.jpg")}
.slide-otter-3 {background-image: url("../images/otter/3.jpg")}
.slide-otter-4 {background-image: url("../images/otter/4.jpg")}
.slide-otter-5 {background-image: url("../images/otter/5.jpg")}
.slide-otter-6 {background-image: url("../images/otter/6.jpg")}
/* ︵‿୨♡୧‿︵ Plants photos ︵‿୨♡୧‿︵ */
.slide-plants-1 {background-image: url("../images/plants/1.jpg")}
.slide-plants-2 {background-image: url("../images/plants/2.jpg")}
.slide-plants-3 {background-image: url("../images/plants/3.jpg")}
.slide-plants-4 {background-image: url("../images/plants/4.jpg")}
.slide-plants-5 {background-image: url("../images/plants/5.jpg")}
.slide-plants-6 {background-image: url("../images/plants/6.jpg")}
