<footer>
    <p>Made with ❤ by <a target="_blank" rel="noopener noreferrer" href="https://github.com/ImSumire">@imsumire</a></p>
    <p>Using
        <a target="_blank" rel="noopener noreferrer" href="https://www.11ty.dev/">11ty</a>,
        <a target="_blank" rel="noopener noreferrer" href="https://swup.js.org/">Swup</a>,
        <a target="_blank" rel="noopener noreferrer" href="https://sass-lang.com/">Sass</a> and
        <a target="_blank" rel="noopener noreferrer" href="https://www.typescriptlang.org/">TypeScript</a>
    </p>
</footer>