<div id="sidebar">
    <nav>
        <section id="about">
            <img width="296" height="296" src="/assets/images/peklo-transparent.png" alt="">
            <a id="" href="/">Violette</a>
        </section>

        {% for page in collections.root %}
            <a href="{{ page.url }}">{{ page.data.title }}</a> •
        {% endfor %}

        <a target="_blank" href="https://github.com/imsumire/">Github</a>
        •
        <a target="_blank" href="https://www.pinterest.fr/Violettttte/">Pinterest</a>
        {% comment %} <img src="/assets/icons/search.svg" id="search" alt="Search icon"> {% endcomment %}
    </nav>
    {% include "footer.liquid" %}
</div>