@import "mixins";
@import "prism";

// Calm
$text: #e9e1f2;
$dim: #bdb2ca;
$bg: #0f0e10;
$primary: #bda1d5;
$secondary: #79366e;
$accent: #b35393;

$sidebarbg: #141217;
$sidebarwidth: 360px;
$sidebarpad: 2rem;
$sidebarheightmm: 12rem;

$mainwidth: min(960px, 90vw);
$mainleftmarg: 5rem;

// Base
body {
  margin: 0;
  color: $text;
  background: $bg;
  font-size: 18px;
  font-family: sans-serif;
  min-height: 100vh;

  @include mm {
    font-size: 16px;
  }

  @include sm {
    font-size: 14px;
  }
}

a {
  color: $text;
  cursor: pointer;
  text-decoration: none;

  background-image: linear-gradient(
    180deg,
    transparent 50%,
    $primary 50%
  ) !important;
  background-size: auto 190%;

  &:hover {
    background-image: linear-gradient(
      180deg,
      transparent 50%,
      $accent 50%
    ) !important;
  }

  &[target="_blank"] {
    padding-right: 0.75ch;

    &::after {
      content: url("/assets/images/arrow.svg");
      display: inline-block;
      width: 1ch;
      height: 1ch;
      background: transparent;
    }
  }
}

em {
  color: $dim;
}

ul {
  @include mm {
    padding-left: 1.75rem;
  }

  @include sm {
    padding-left: 1.25rem;
  }

  li {
    line-height: 1.8;
  }
}

// Specific elements
#sidebar {
  height: 100vh;
  width: $sidebarwidth;
  position: fixed;
  background: $sidebarbg;

  display: flex;
  flex-direction: column;

  @include mm {
    height: $sidebarheightmm;
    width: 100vw;
    
    flex-direction: row;

    z-index: 1;
  }

  img {
    width: calc(#{$sidebarwidth} - #{$sidebarpad} * 2);

    @include mm {
      width: 128px;
      height: 128px;
      position: absolute;
      left: $sidebarpad;
    }

    @include sm {
      display: none;
    }
  }

  /* #search {
    width: 20px;
    translate: 0 4px;
    cursor: pointer;
  } */

  nav {
    flex-grow: 1;
    padding: $sidebarpad;
    text-align: center;
    height: 100px;

    #about {
      @include mm {
        height: 70px;
      }

      & > a {
        font-size: 3rem;
        line-height: 6rem;
        text-decoration: underline;
        text-decoration-color: $secondary;
        text-underline-offset: 6px;
        background-image: none !important;
        font-family: serif;
        font-weight: bold;

        @include mm {
          font-size: 1.75rem;
        }
      }
    }

    & > #links {
      @include mm {
        width: 55vw;
        margin: 0 auto;
      }
      
      @include sm {
        width: 80vw;
      }

      & > a {
        &:not(:hover) {
          background-image: none !important;
        }
        // background-image: none !important;
      }
    }
  }

  footer {
    text-align: center;
    padding: $sidebarpad;

    @include mm {
      display: none;
    }

    & > * {
      margin: 0 0.75rem;
    }
  }
}

.underlined {
  background-image: linear-gradient(
    180deg,
    transparent 50%,
    $primary 50%
  ) !important;
  background-size: auto 190%;

  &:hover {
    background-image: linear-gradient(
      180deg,
      transparent 50%,
      $accent 50%
    ) !important;
  }
}

main {
  padding: 4rem 0;
  margin-left: calc(#{$sidebarwidth} + #{$mainleftmarg});
  width: min(
    calc(#{$mainwidth} - #{$mainleftmarg}),
    calc(100vw - #{$mainleftmarg} - 20px - #{$sidebarwidth})
  );

  @include mm {
    padding: calc(1rem + #{$sidebarheightmm}) 0 1rem 0;
    $mainleftmarg: 2rem;
    margin-left: $mainleftmarg;
    width: calc(100vw - #{$mainleftmarg} - 20px);
  }

  @include sm {
    $mainleftmarg: 1rem;
    margin-left: $mainleftmarg;
    width: calc(100vw - #{$mainleftmarg} - 20px);
  }

  h1 {
    font-style: italic;
    text-underline-offset: 6px;
    rotate: -2deg;
    text-decoration: underline;
    text-decoration-color: $accent;
    width: fit-content;
    font-family: serif;
    font-weight: bold;
    margin-bottom: 2.5rem;
  }

  a:has(.nextlink, .prevlink) {
    background-image: none !important;
  }

  .nextlink, .prevlink {
    background: transparent;

    color: $text;
    font-size: 18px;
    font-family: sans-serif;

    border: $secondary 2px solid;
    border-radius: 10px;

    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1.5rem;

    width: 300px;

    &::before {
      white-space: pre;

      color: $primary;
      font-size: 18px;
      font-family: sans-serif;
    }
  }

  .nextlink::before {
    content: "Next \a";
  }

  .prevlink::before {
    content: "Previous \a";
  }
}

// Animation
.transition-main {
  transition: {
    duration: 0.12s;
    property: opacity, transform;
    timing-function: ease-in-out;
  }

  html.is-animating & {
    opacity: 0;
    transform: translateX(-0.25em);
  }

  html.is-leaving & {
    transform: translateX(0.25em);
  }
}

// Scroll bar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.3);
  border-radius: 5px;

  &:hover {
    background: rgba(150, 150, 150, 0.6);
  }
}

// Accordion (https://codepen.io/abergin/pen/BaKVWd)
@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }

  5% {
    opacity: 1;
  }

  80% {
    transform: rotateX(8deg);
  }

  83% {
    transform: rotateX(6deg);
  }

  92% {
    transform: rotateX(-3deg);
  }

  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

.accordion {
  padding: 1rem;
  margin: 1.5rem 0;

  border-radius: 5px;
  border: 1px solid $secondary;

  i {
    position: absolute;
    margin-left: 1ch;
    transform: translate(0, 8px);  // hard-coded

    &::before, &::after {
      content: "";
      position: absolute;
      background: $text;
      width: 3px;
      height: 9px;
      transition: all 0.25s ease-in-out;
    }

    &::before {
      transform: translate(-2px, 0) rotate(45deg);
    }

    &::after {
      transform: translate(2px, 0) rotate(-45deg);
    }
  }

  h4 {
    margin: 0;
  }

  article {
    transition: all 0.5s ease-in;
    transition: opacity 0.1s ease-in;

    & :first-child {
      transition: margin-top 0.1s ease-in;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    width: min(
      calc(#{$mainwidth} - #{$mainleftmarg}),
      calc(100vw - #{$mainleftmarg} - 20px - #{$sidebarwidth})
    );
    height: 20px;  // hard-coded
    z-index: 1;
    opacity: 0;

    &:checked {
      &~article {
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        display: none;
        transform: translate(0, 50%);

        & :first-child {
          margin-top: 0;
        }
      }

      &~h4 i {
        &::before {
          transform: translate(2px, 0) rotate(45deg);
        }

        &::after {
          transform: translate(-2px, 0) rotate(-45deg);
        }
      }
    }
  }
}
