@import "mixins";

// Calm
$text: #e0ebec;
$bg: #191c1d;
$primary: #d1b8da;
$secondary: #5d356a;
$accent: #ba77a2;

$sidebarbg: #121414;
$sidebarwidth: 360px;
$sidebarpad: 2rem;
$sidebarheightmm: 12rem;

$mainwidth: min(960px, 90vw);
$mainleftmarg: 5rem;

$codebg: #1d2225;

// Base
body {
  margin: 0;
  color: $text;
  background: $bg;
  font-size: 18px;
  font-family: sans-serif;
  min-height: 100vh;

  @include mm {
    font-size: 16px;
  }

  @include sm {
    font-size: 14px;
  }
}

a {
  color: $text;
  cursor: pointer;
  text-decoration: none;

  background-image: linear-gradient(
    180deg,
    transparent 50%,
    $primary 50%
  ) !important;
  background-size: auto 190%;

  &:hover {
    background-image: linear-gradient(
      180deg,
      transparent 50%,
      $accent 50%
    ) !important;
  }

  &[target="_blank"] {
    padding-right: 0.75ch;

    &::after {
      content: url("/assets/images/arrow.svg");
      display: inline-block;
      width: 1ch;
      height: 1ch;
      background: transparent;
    }
  }
}

ul {
  @include mm {
    padding-left: 1.75rem;
  }

  @include sm {
    padding-left: 1.25rem;
  }

  li {
    line-height: 1.8;
  }
}

// Specific elements
#sidebar {
  height: 100vh;
  width: $sidebarwidth;
  position: fixed;
  background: $sidebarbg;

  display: flex;
  flex-direction: column;

  @include mm {
    height: $sidebarheightmm;
    width: 100vw;
    
    flex-direction: row;

    z-index: 1;
  }

  img {
    width: calc(#{$sidebarwidth} - #{$sidebarpad} * 2);

    @include mm {
      width: 128px;
      height: 128px;
      position: absolute;
      left: $sidebarpad;
    }

    @include sm {
      display: none;
    }
  }

  /* #search {
    width: 20px;
    translate: 0 4px;
    cursor: pointer;
  } */

  nav {
    flex-grow: 1;
    padding: $sidebarpad;
    text-align: center;
    height: 100px;

    #about {
      @include mm {
        height: 70px;
      }

      & > a {
        font-size: 3rem;
        line-height: 6rem;
        text-decoration: underline;
        text-decoration-color: $secondary;
        text-underline-offset: 6px;
        background-image: none !important;
        font-family: serif;
        font-weight: bold;

        @include mm {
          font-size: 1.75rem;
        }
      }
    }

    & > #links {
      @include mm {
        width: 55vw;
        margin: 0 auto;
      }
      
      @include sm {
        width: 80vw;
      }

      & > a {
        background-image: none !important;
      }
    }
  }

  footer {
    text-align: center;
    padding: $sidebarpad;

    @include mm {
      display: none;
    }

    & > * {
      margin: 0 0.75rem;
    }
  }
}

.underlined {
  background-image: linear-gradient(
    180deg,
    transparent 50%,
    $primary 50%
  ) !important;
  background-size: auto 190%;

  &:hover {
    background-image: linear-gradient(
      180deg,
      transparent 50%,
      $accent 50%
    ) !important;
  }
}

main {
  padding: 4rem 0;
  margin-left: calc(#{$sidebarwidth} + #{$mainleftmarg});
  width: min(
    calc(#{$mainwidth} - #{$mainleftmarg}),
    calc(100vw - #{$mainleftmarg} - 20px - #{$sidebarwidth})
  );

  @include mm {
    padding: calc(1rem + #{$sidebarheightmm}) 0 1rem 0;
    $mainleftmarg: 2rem;
    margin-left: $mainleftmarg;
    width: calc(100vw - #{$mainleftmarg} - 20px);
  }

  @include sm {
    $mainleftmarg: 1rem;
    margin-left: $mainleftmarg;
    width: calc(100vw - #{$mainleftmarg} - 20px);
  }

  h1 {
    font-style: italic;
    text-underline-offset: 6px;
    rotate: -2deg;
    text-decoration: underline;
    text-decoration-color: $accent;
    width: fit-content;
    font-family: serif;
    font-weight: bold;
  }
}

pre {
  font-size: 16px;

  @include mm {
    font-size: 14px;
  }

  @include sm {
    font-size: 12px;
  }

  background: $codebg;
  color: #eaeaea;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 6px;

  #prompt {
    color: #cba6f7;
  }

  .operator {
    color: #fab387;
  }
}

// Animation
.transition-main {
  transition: {
    duration: 0.12s;
    property: opacity, transform;
    timing-function: ease-in-out;
  }

  html.is-animating & {
    opacity: 0;
    transform: translateX(-0.25em);
  }

  html.is-leaving & {
    transform: translateX(0.25em);
  }
}

// Scroll bar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.3);
  border-radius: 5px;

  &:hover {
    background: rgba(150, 150, 150, 0.6);
  }
}
