body {
  margin: 0;
  color: #e0ebec;
  background: #191c1d;
  font-size: 18px;
  font-family: sans-serif;
  min-height: 100vh;
}
@media only screen and (max-width: 1000px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

a {
  color: #e0ebec;
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(180deg, transparent 50%, #d1b8da 50%) !important;
  background-size: auto 190%;
}
a:hover {
  background-image: linear-gradient(180deg, transparent 50%, #ba77a2 50%) !important;
}
a[target=_blank] {
  padding-right: 0.5ch;
}
a[target=_blank]::after {
  content: url("/assets/images/arrow.svg");
  display: inline-block;
  width: 1ch;
  height: 1ch;
  background: transparent;
}

@media only screen and (max-width: 1000px) {
  ul {
    padding-left: 1.75rem;
  }
}
@media only screen and (max-width: 600px) {
  ul {
    padding-left: 1.25rem;
  }
}
ul li {
  line-height: 1.8;
}

#sidebar {
  height: 100vh;
  width: 360px;
  position: fixed;
  background: #121414;
  display: flex;
  flex-direction: column;
  /* #search {
    width: 20px;
    translate: 0 4px;
    cursor: pointer;
  } */
}
@media only screen and (max-width: 1000px) {
  #sidebar {
    height: 12rem;
    width: 100vw;
    flex-direction: row;
    z-index: 1;
  }
}
#sidebar img {
  width: calc(360px - 2rem * 2);
}
@media only screen and (max-width: 1000px) {
  #sidebar img {
    width: 128px;
    height: 128px;
    position: absolute;
    left: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  #sidebar img {
    display: none;
  }
}
#sidebar nav {
  flex-grow: 1;
  padding: 2rem;
  text-align: center;
  height: 100px;
}
@media only screen and (max-width: 1000px) {
  #sidebar nav #about {
    height: 70px;
  }
}
#sidebar nav #about > a {
  font-size: 3rem;
  line-height: 6rem;
  text-decoration: underline;
  text-decoration-color: #5d356a;
  text-underline-offset: 6px;
  background-image: none !important;
  font-family: serif;
  font-weight: bold;
}
@media only screen and (max-width: 1000px) {
  #sidebar nav #about > a {
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 1000px) {
  #sidebar nav > #links {
    width: 55vw;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 600px) {
  #sidebar nav > #links {
    width: 80vw;
  }
}
#sidebar nav > #links > a {
  background-image: none !important;
}
#sidebar footer {
  text-align: center;
  padding: 2rem;
}
@media only screen and (max-width: 1000px) {
  #sidebar footer {
    display: none;
  }
}
#sidebar footer > * {
  margin: 0 0.75rem;
}

.underlined {
  background-image: linear-gradient(180deg, transparent 50%, #d1b8da 50%) !important;
  background-size: auto 190%;
}
.underlined:hover {
  background-image: linear-gradient(180deg, transparent 50%, #ba77a2 50%) !important;
}

main {
  padding: 4rem 0;
  margin-left: calc(360px + 5rem);
  width: min(calc(min(960px, 90vw) - 5rem), calc(100vw - 5rem - 20px - 360px));
}
@media only screen and (max-width: 1000px) {
  main {
    padding: calc(1rem + 12rem) 0 1rem 0;
    margin-left: 2rem;
    width: calc(100vw - 2rem - 20px);
  }
}
@media only screen and (max-width: 600px) {
  main {
    margin-left: 1rem;
    width: calc(100vw - 1rem - 20px);
  }
}
main h1 {
  font-style: italic;
  text-underline-offset: 6px;
  rotate: -2deg;
  text-decoration: underline;
  text-decoration-color: #ba77a2;
  width: fit-content;
  font-family: serif;
  font-weight: bold;
}

pre {
  font-size: 16px;
  background: #1d2225;
  color: #eaeaea;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 6px;
}
@media only screen and (max-width: 1000px) {
  pre {
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  pre {
    font-size: 12px;
  }
}
pre #prompt {
  color: #cba6f7;
}
pre .operator {
  color: #fab387;
}

.transition-main {
  transition-duration: 0.12s;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
}
html.is-animating .transition-main {
  opacity: 0;
  transform: translateX(-0.25em);
}
html.is-leaving .transition-main {
  transform: translateX(0.25em);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.3);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150, 0.6);
}