<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="darkreader-lock" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <meta name="description" content="Author: V.F"> {% endcomment %}

    <title>Violette • {{ title }}</title>
    <link rel="shortcut icon" href="/assets/images/pecklo.webp" type="image/x-icon" />

    <link rel="stylesheet" href="/assets/css/main.min.css">
    <script type="module" src="/assets/js/main.js" defer></script>
</head>
<body>
    {% include "nav.liquid" %}
    <main class="transition-main">
        <h1>{{ title }}</h1>
        {{ content }}
    </main>
</body>
</html>
